<header>
  <div class="logo inline flex-start">
    <a href="/">
      <img src="../../../assets/images/logo.png" alt="" class="inline" />
      <h1>Smart Funding</h1>
    </a>
  </div>
  <div
    class="menu_icon"
    [class.menu_iconClass]="menu_icon_variable"
    (click)="toggleMenuStatus()"
  >
    <span></span>
    <span></span>
    <span></span>
  </div>
  <nav>
    <div class="menu" [class.menuClasse]="menuVariable">
      <ul class="nav_links">
        <li [class.active]="isRouteActive('home')">
          <a [routerLink]="['home']">Home</a>
        </li>

        <li [class.active]="isRouteActive('marketplace')">
          <a [routerLink]="['marketplace']">Funding</a>
        </li>

        <li [class.active]="isRouteActive('donate us')">
          <a href="https://candypay.fun/pay/ssPX9NaAXKP8xdXCAJxEUF"
            >Donate us</a
          >
        </li>

        <li [class.active]="isRouteActive('login')" *ngIf="!isLoggedIn()">
          <button (click)="connectWallet()">Connect wallet</button>
        </li>

        <li
          [class.active]="isRouteActive('/auth/signup')"
          *ngIf="!isLoggedIn()"
        >
          <!-- TODO: STYLE THESE -->
        </li>

        <li *ngIf="isLoggedIn()">{{ getCurrentUser().username }}</li>
        <li *ngIf="isLoggedIn()" (click)="signout()">Sign out</li>
      </ul>
    </div>
  </nav>
</header>
