<!-- HeroSection-->
<div class="relative isolate overflow-hidden pt-14">
  <img
    src="https://images.unsplash.com/photo-1682688759350-050208b1211c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80"
    alt=""
    class="absolute inset-0 -z-10 h-5/6 w-full object-cover"
  />
  <div
    class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]"
  >
    <svg
      class="relative left-[calc(50%-11rem)] -z-10 h-[21.1875rem] max-w-none -translate-x-1/2 rotate-[30deg] sm:left-[calc(50%-30rem)] sm:h-[42.375rem]"
      viewBox="0 0 1155 678"
    >
      <path
        fill="url(#45de2b6b-92d5-4d68-a6a0-9b9b2abad533)"
        fill-opacity=".2"
        d="M317.219 518.975L203.852 678 0 438.341l317.219 80.634 204.172-286.402c1.307 132.337 45.083 346.658 209.733 145.248C936.936 126.058 882.053-94.234 1031.02 41.331c119.18 108.451 130.68 295.337 121.53 375.223L855 299l21.173 362.054-558.954-142.079z"
      />
      <defs>
        <linearGradient
          id="45de2b6b-92d5-4d68-a6a0-9b9b2abad533"
          x1="1155.49"
          x2="-78.208"
          y1=".177"
          y2="474.645"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#9089FC" />
          <stop offset="1" stop-color="#FF80B5" />
        </linearGradient>
      </defs>
    </svg>
  </div>
  <div class="mx-auto max-w-2xl pb-64 pt-4 sm:py-38 lg:py-46 lg:pt14">
    <div class="hidden sm:mb-8 sm:flex sm:justify-center">
      <div
        class="relative rounded-full py-1 px-3 text-sm leading-6 text-gray-400 ring-1 ring-white/10 hover:ring-white/20"
      >
        Announcing our next round of funding.
        <a href="#" class="font-semibold text-white"
          ><span class="absolute inset-0" aria-hidden="true"></span>Read more
          <span aria-hidden="true">&rarr;</span></a
        >
      </div>
    </div>
    <div class="text-center justify-center">
      <h1
        class="text-4xl font-bold tracking-tight text-white sm:text-6xl"
        style="color: white; line-height: 50px"
      >
        We different the way you fund
      </h1>
      <p class="mt-6 text-lg leading-8 text-gray-300">
        Welcome to our funding website, where dreams become a reality! We
        believe in the power of innovative ideas and the potential for positive
        change they hold.
      </p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a
          [routerLink]="['/funding']"
          class="rounded-md bg-indigo-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-400"
          >Get started</a
        >
        <a href="#" class="text-sm font-semibold leading-6 text-white"
          >Learn more <span aria-hidden="true">→</span></a
        >
      </div>
    </div>
  </div>
  <div
    class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
  >
    <svg
      class="relative left-[calc(50%+3rem)] h-[21.1875rem] max-w-none -translate-x-1/2 sm:left-[calc(50%+36rem)] sm:h-[42.375rem]"
      viewBox="0 0 1155 678"
    >
      <path
        fill="url(#ecb5b0c9-546c-4772-8c71-4d3f06d544bc)"
        fill-opacity=".2"
        d="M317.219 518.975L203.852 678 0 438.341l317.219 80.634 204.172-286.402c1.307 132.337 45.083 346.658 209.733 145.248C936.936 126.058 882.053-94.234 1031.02 41.331c119.18 108.451 130.68 295.337 121.53 375.223L855 299l21.173 362.054-558.954-142.079z"
      />
      <defs>
        <linearGradient
          id="ecb5b0c9-546c-4772-8c71-4d3f06d544bc"
          x1="1155.49"
          x2="-78.208"
          y1=".177"
          y2="474.645"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#9089FC" />
          <stop offset="1" stop-color="#FF80B5" />
        </linearGradient>
      </defs>
    </svg>
  </div>
</div>

<!-- Content-->
<div
  class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-32 lg:overflow-visible lg:px-0"
>
  <div class="absolute inset-0 -z-10 overflow-hidden">
    <svg
      class="absolute top-0 left-[max(50%,25rem)] h-[64rem] w-[128rem] -translate-x-1/2 stroke-gray-200 [mask-image:radial-gradient(64rem_64rem_at_top,white,transparent)]"
      aria-hidden="true"
    >
      <defs>
        <pattern
          id="e813992c-7d03-4cc4-a2bd-151760b470a0"
          width="200"
          height="200"
          x="50%"
          y="-1"
          patternUnits="userSpaceOnUse"
        >
          <path d="M100 200V.5M.5 .5H200" fill="none" />
        </pattern>
      </defs>
      <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
        <path
          d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z"
          stroke-width="0"
        />
      </svg>
      <rect
        width="100%"
        height="100%"
        stroke-width="0"
        fill="url(#e813992c-7d03-4cc4-a2bd-151760b470a0)"
      />
    </svg>
  </div>
  <div
    class="mx-auto grid max-w-2xl grid-cols-1 gap-y-16 gap-x-8 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10"
  >
    <div
      class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8"
    >
      <div class="lg:pr-4">
        <div class="lg:max-w-lg">
          <p class="text-base font-semibold leading-7 text-indigo-600">
            Easy to use
          </p>
          <h1
            class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
            style="line-height: 50px"
          >
            A better way of fund
          </h1>
          <p class="mt-6 text-xl leading-8 text-gray-700">
            Whether you're an aspiring entrepreneur, a passionate artist, a
            dedicated nonprofit organization, or an ambitious individual seeking
            support for a personal project, our platform is here to empower you
            on your journey.
          </p>
        </div>
      </div>
    </div>
    <div
      class="-mt-12 -ml-12 p-12 lg:sticky lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden"
    >
      <img
        class="w-[48rem] max-w-none rounded-xl bg-gray-900 shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem]"
        src="../../../assets/images/homeImage.png"
        alt=""
      />
    </div>
    <div
      class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8"
    >
      <div class="lg:pr-4">
        <div class="max-w-xl text-base leading-7 text-gray-700 lg:max-w-lg">
          <p>
            Our funding website serves as a vibrant and inclusive community that
            connects visionaries with individuals and organizations eager to
            invest in their success. We understand that financial resources can
            often be a barrier to turning dreams into tangible achievements.
          </p>
          <ul role="list" class="mt-8 space-y-8 text-gray-600">
            <li class="flex gap-x-3">
              <svg
                class="mt-1 h-5 w-5 flex-none text-indigo-600"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.5 17a4.5 4.5 0 01-1.44-8.765 4.5 4.5 0 018.302-3.046 3.5 3.5 0 014.504 4.272A4 4 0 0115 17H5.5zm3.75-2.75a.75.75 0 001.5 0V9.66l1.95 2.1a.75.75 0 101.1-1.02l-3.25-3.5a.75.75 0 00-1.1 0l-3.25 3.5a.75.75 0 101.1 1.02l1.95-2.1v4.59z"
                  clip-rule="evenodd"
                />
              </svg>
              <span
                ><strong class="font-semibold text-gray-900"
                  >Customize your .</strong
                >
                With us, you'll find a diverse range of funding options tailored
                to meet your specific needs. From traditional fundraising
                campaigns to crowdfunding initiatives, grants, and venture
                capital opportunities, our website offers a multitude of avenues
                to secure the support you require.</span
              >
            </li>
            <li class="flex gap-x-3">
              <svg
                class="mt-1 h-5 w-5 flex-none text-indigo-600"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z"
                  clip-rule="evenodd"
                />
              </svg>
              <span
                ><strong class="font-semibold text-gray-900"
                  >Optimize the best solution.</strong
                >
                We pride ourselves on fostering a supportive and engaging
                environment for both fund-seekers and funders alike. Our
                community is driven by a shared passion for innovation,
                creativity, and social progress.
              </span>
            </li>
            <li class="flex gap-x-3">
              <svg
                class="mt-1 h-5 w-5 flex-none text-indigo-600"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  d="M4.632 3.533A2 2 0 016.577 2h6.846a2 2 0 011.945 1.533l1.976 8.234A3.489 3.489 0 0016 11.5H4c-.476 0-.93.095-1.344.267l1.976-8.234z"
                />
                <path
                  fill-rule="evenodd"
                  d="M4 13a2 2 0 100 4h12a2 2 0 100-4H4zm11.24 2a.75.75 0 01.75-.75H16a.75.75 0 01.75.75v.01a.75.75 0 01-.75.75h-.01a.75.75 0 01-.75-.75V15zm-2.25-.75a.75.75 0 00-.75.75v.01c0 .414.336.75.75.75H13a.75.75 0 00.75-.75V15a.75.75 0 00-.75-.75h-.01z"
                  clip-rule="evenodd"
                />
              </svg>
              <span
                ><strong class="font-semibold text-gray-900"
                  >Share your start up idea.</strong
                >
                Navigating our funding website is designed to be intuitive and
                user-friendly. We provide comprehensive tools, guidance, and
                resources to help you craft compelling campaigns, tell your
                unique story, and engage with potential funders.
              </span>
            </li>
          </ul>
          <p class="mt-8">
            Our team is committed to providing exceptional support every step of
            the way, ensuring that your experience on our platform is smooth,
            seamless, and rewarding.
          </p>
          <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">
            No budget? No problem.
          </h2>
          <p class="mt-6">
            Whether you have an entrepreneurial spirit, a groundbreaking idea, a
            passion for social change, or a creative spark that needs to be
            ignited, we invite you to explore our funding website. Join our
            dynamic community, unlock your potential, and let us help you turn
            your dreams into a tangible reality. Together, we can make a lasting
            impact and shape a brighter future for all.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Logo-->
<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div
      class="mx-auto grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-12 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 sm:gap-y-14 lg:mx-0 lg:max-w-none lg:grid-cols-5"
    >
      <!-- <img
        class="col-span-2 max-h-12 w-full object-contain lg:col-span-1"
        src="https://tailwindui.com/img/logos/158x48/tuple-logo-gray-900.svg"
        alt="Tuple"
        width="158"
        height="48"
      /> -->
      <img
        src="https://logowik.com/content/uploads/images/solana-sol9611.jpg"
        alt=""
        class="col-span-2 h-full w-full object-contain lg:col-span-1"
      />
      <img
        class="col-span-2 max-h-full w-full object-contain sm:col-start-2 lg:col-span-1"
        src="https://logowik.com/content/uploads/images/metamask4112.jpg"
        alt="SavvyCal"
        width="158"
        height="48"
      />
      <img
        class="col-span-2 col-start-2 max-h-12 w-full object-contain sm:col-start-auto lg:col-span-1"
        src="../../../assets/images/candypay-logo.svg"
        alt=""
      />
      <img
        class="col-span-2 col-start-2 max-h-12 w-full object-contain sm:col-start-auto lg:col-span-1"
        src="https://tailwindui.com/img/logos/158x48/statamic-logo-gray-900.svg"
        alt="Statamic"
        width="258"
        height="148"
      />
      <img
        src="https://logowik.com/content/uploads/images/phantom3506.jpg"
        alt=""
        class="col-span-2 max-h-full w-full object-contain lg:col-span-1"
      />
    </div>
    <div class="mt-16 flex justify-center">
      <p
        class="relative rounded-full bg-gray-50 px-4 py-1.5 text-sm leading-6 text-gray-600 ring-1 ring-inset ring-gray-900/5"
        style="justify-content: center"
      >
        <span class="hidden md:inline"
          >Over 2500 users use our tools to better their idea.</span
        >
        <a href="#" class="font-semibold text-indigo-600"
          ><span class="absolute inset-0" aria-hidden="true"></span> Read our
          customer stories <span aria-hidden="true">&rarr;</span></a
        >
      </p>
    </div>
  </div>
</div>
