.jumbotron {
  color: white;
  background-image: url("https://images.unsplash.com/photo-1527788263495-3518a5c1c42d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1808&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
h1 {
  font-family: "Roboto Slab", serif;
  color: var(--primary);
  padding-top: 15%;
  padding-left: 15%;
  font-size: xxx-large;
}
p {
  padding-left: 15%;
}
