<div class="nft-card">
  <div class="horizontal-tabs">
    <a href="#">All</a>

    <a href="#">My project</a>

    <a
      href="#"
      style="color: #ea4c89"
      (click)="setActiveTab('integrations')"
      [class.active]="activeTab === 'integrations'"
      >Donated</a
    >
  </div>

  <div class="nft-card--header">
    <a
      ><button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-5 rounded items-end my-3"
        (click)="openDialog()"
      >
        Create new funding
      </button></a
    >
    <div class="nft-user">
      <img
        src="https://cdn2.benzinga.com/files/imagecache/og_image_social_share_1200x630/images/story/2012/d.jpg?width=720"
      />
      Astro Man
      <span>@phe.mestre</span>
    </div>
  </div>
  <div class="nft-card--content">
    <div class="nft-action">
      <span>1.8K <i class="far fa-heart"></i></span>
    </div>
    <img
      src="https://i.pinimg.com/originals/4a/e9/e5/4ae9e55b5b2d8730017cb33615b56609.jpg"
    />
    <div class="nft-qrcode">
      001
      <span>/023</span>
      <i class="fas fa-qrcode"></i>
    </div>
  </div>
  <div class="nft-card--footer">
    <div class="nft-price">
      <span>($803.39)</span>
      <i class="fab fa-ethereum"></i> 0.23 ETH
    </div>
    <div class="nft-time">
      <span><i class="far fa-clock"></i> 3 days left</span>
    </div>
  </div>
</div>

<div class="nft-card nft-card--music">
  <div class="nft-card--header">
    <div class="nft-user">
      <img src="https://m.media-amazon.com/images/I/51KUrVgVH-L._SL1000_.jpg" />
      In My Mind
      <span>@alok</span>
    </div>
  </div>
  <div class="nft-card--content">
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>

    <div class="nft-action">
      <span>1.8K <i class="far fa-heart"></i></span>
    </div>
    <img
      src="https://plus.unsplash.com/premium_photo-1686149833505-0fe209f61a67?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80"
    />
    <div class="nft-qrcode">
      001
      <span>/250</span>
      <i class="fas fa-qrcode"></i>
    </div>
  </div>
  <div class="nft-card--footer">
    <div class="nft-price">
      <span>($803.39)</span>
      <i class="fab fa-ethereum"></i> 0.23 ETH
    </div>
    <div class="nft-time">
      <span><i class="far fa-clock"></i> 3 days left</span>
    </div>
  </div>
</div>

<div class="nft-card nft-card--video">
  <div class="nft-card--header">
    <div class="nft-user">
      <img
        src="https://cdn2.benzinga.com/files/imagecache/og_image_social_share_1200x630/images/story/2012/d.jpg?width=720"
      />
      Into the Deep
      <span>@clark.little</span>
    </div>
  </div>
  <div class="nft-card--content">
    <div class="nft-action">
      <span>1.8K <i class="far fa-heart"></i></span>
    </div>
    <img
      src="https://images.unsplash.com/photo-1685946900453-8154d1154afc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1742&q=80"
    />
    <div class="nft-qrcode">
      001
      <span>/250</span>
      <i class="fas fa-qrcode"></i>
    </div>
  </div>
  <div class="nft-card--footer">
    <div class="nft-price">
      <span>($803.39)</span>
      <i class="fab fa-ethereum"></i> 0.23 ETH
    </div>
    <div class="nft-time">
      <span><i class="far fa-clock"></i> 3 days left</span>
    </div>
  </div>
</div>

<div class="nft-card nft-card--locked">
  <div class="nft-card--header">
    <div class="nft-user">
      <img
        src="https://cdn2.benzinga.com/files/imagecache/og_image_social_share_1200x630/images/story/2012/d.jpg?width=720"
      />
      Astro Man
      <span>@phe.mestre</span>
    </div>
  </div>

  <div class="nft-card--content">
    <div class="nft-action">
      <span>35 <i class="far fa-comment"></i></span>
      <span>1.8K <i class="far fa-heart"></i></span>
    </div>

    <img
      src="https://i.pinimg.com/originals/4a/e9/e5/4ae9e55b5b2d8730017cb33615b56609.jpg"
    />

    <div class="nft-qrcode">
      001
      <span>/250</span>
      <i class="fas fa-qrcode"></i>
    </div>

    <div class="nft-description">
      <p>
        Private photo’s description goes here so subscribers to know what
        they’re paying for.
      </p>
    </div>

    <div class="nft-unlock">
      <input type="button" class="btn btn--primary" value="Unlock" />
    </div>
  </div>
  <div class="nft-card--footer">
    <div class="nft-price">
      <span>($803.39)</span>
      <i class="fab fa-ethereum"></i> 0.23 ETH
    </div>
    <div class="nft-time">
      <span><i class="far fa-clock"></i> 3 days left</span>
    </div>
  </div>
</div>

<div class="nft-card nft-card--collection">
  <div class="nft-card--header"></div>

  <div class="nft-card--content">
    <div class="nft-title">
      <h3><span>Collection</span> New Drop</h3>
    </div>

    <img src="https://i.gifer.com/4P4W.gif" />
  </div>
  <div class="nft-card--footer">
    <div class="nft-time">
      <span><i class="far fa-star"></i> Verified Collection</span>
    </div>
  </div>
</div>

<div class="nft-card nft-card--category">
  <div class="nft-card--header"></div>

  <div class="nft-card--content">
    <div class="nft-title">
      <h3><span>Category</span> Gaming</h3>
    </div>

    <img
      src="https://lh3.googleusercontent.com/0uehawLNRzOUSs4qtxX0o5cDenklvm0APLUfJng0kwOu-CCX_hZZI39kf8lbfMKrOB0D0VfXJqKcyMnrUnnBW5s5Gifz6GcCt12j_Q=w1400-k"
    />
    <img src="https://assets.polkamon.com/images/Unimons_T11C03H01B07G00.jpg" />
    <img
      src="https://lh3.googleusercontent.com/geTFW9hgPMsAiifYUNutYZTXfREGWJ39PJeCRC3DIFgX874pnCY9Y_gKHKQwUOM_HIbE2Wf5KFqgoPiJmr_mtczCLj9ExGlmQ5ZR"
    />
    <img
      src="https://res.cloudinary.com/nftrade/image/upload/w_500,c_scale/v1633826885/evm_56_0x85f0e02cb992aa1f9f47112f815f519ef1a59e2d_10002421270.jpg"
    />
  </div>
  <div class="nft-card--footer">
    <div class="nft-time">
      <span><i class="far fa-star"></i> Curated Collection</span>
    </div>
  </div>
</div>

<div class="nft-card nft-card--compact">
  <div class="nft-card--header">
    <div class="nft-user">
      <img
        src="https://s2.coinmarketcap.com/static/img/coins/200x200/8968.png"
      />
      Sea Monster
      <span>@polychainmonsters</span>
    </div>
  </div>
  <div class="nft-card--content">
    <div class="nft-action">
      <span>1.8K <i class="far fa-heart"></i></span>
    </div>
    <img src="https://miro.medium.com/max/960/0*qN-uyl-xH818QU23" />
    <div class="nft-qrcode">
      001
      <span>/023</span>
      <i class="fas fa-qrcode"></i>
    </div>
  </div>
  <div class="nft-card--footer">
    <div class="nft-price">
      <span>($803.39)</span>
      <i class="fab fa-ethereum"></i> 0.23 ETH
    </div>
    <div class="nft-time">
      <span><i class="far fa-clock"></i> 3 days left</span>
    </div>
  </div>
</div>

<div class="nft-card nft-card--fanbase nft-card--compact">
  <div class="nft-card--header"></div>
  <div class="nft-card--content">
    <div class="nft-action">
      <span>35 <i class="far fa-comment"></i></span>
      <span>1.8K <i class="far fa-heart"></i></span>
    </div>
    <img
      src="https://media4.giphy.com/media/Gmry5z8ChK5Y4/giphy.gif?cid=790b76111f59d249a216560dcc3989b704c69c502b8174b5&rid=giphy.gif&ct=g"
    />
    <div class="nft-badge">
      <span class="badge">Fanbase</span>
    </div>
  </div>
  <div class="nft-card--footer"></div>
</div>

<div class="nft-card nft-card--locked nft-card--compact">
  <div class="nft-card--header"></div>
  <div class="nft-card--content">
    <div class="nft-action">
      <span>35 <i class="far fa-comment"></i></span>
      <span>1.8K <i class="far fa-heart"></i></span>
    </div>
    <img
      src="https://media4.giphy.com/media/Gmry5z8ChK5Y4/giphy.gif?cid=790b76111f59d249a216560dcc3989b704c69c502b8174b5&rid=giphy.gif&ct=g"
    />
    <div class="nft-description">
      <p>
        Private photo’s description goes here so subscribers to know what
        they’re paying for.
      </p>
    </div>
    <div class="nft-badge">
      <span class="badge">Fanbase</span>
    </div>
  </div>
  <div class="nft-card--footer">
    <div class="nft-price">
      <span>($803.39)</span>
      <i class="fab fa-ethereum"></i> 0.23 ETH
    </div>
    <br />
    <div class="nft-unlock">
      <input type="button" class="btn btn--primary" value="Unlock" />
    </div>
  </div>
</div>

<div class="nft-card nft-card--upload">
  <div class="nft-card--header"></div>

  <div class="nft-card--content">
    <div class="nft-description">
      <i class="fas fa-plus-square"></i>
      <h3>Upload <span>Drag & Drop</span></h3>
      <input type="button" class="btn btn--secondary" value="Browse Device" />
    </div>
  </div>

  <div class="nft-card--footer"></div>
</div>

<div class="nft-payment">
  <div class="nft-payment--header"></div>
  <div class="nft-payment--content">
    <div class="nft-info">
      <i class="fab fa-ethereum"></i>
      ****1123
      <span>Marketplace Wallet</span>
    </div>
    <div class="nft-balance"><span>ETH</span> 4,050.23</div>
  </div>
  <div class="nft-payment--footer"></div>
</div>

<div class="nft-payment nft-payment--mini">
  <div class="nft-payment--header"></div>
  <div class="nft-payment--content">
    <div class="nft-info">
      ****1123
      <span>Bank of America</span>
    </div>
    <div class="nft-balance"><span>ETH</span> 4,050.23</div>
  </div>
  <div class="nft-payment--footer"></div>
</div>

<div class="nft-profile">
  <div class="nft-profile--header"></div>
  <div class="nft-profile--content">
    <div class="nft-user">
      <img
        src="https://s2.coinmarketcap.com/static/img/coins/200x200/8968.png"
      />
    </div>

    <img src="https://miro.medium.com/max/960/0*9GkThfRr7h_iXyPr.gif" />

    <div class="nft-info">
      <h3>
        Polychain Monsters
        <span>@polychainmonsteers</span>
      </h3>
    </div>

    <div class="nft-action">
      <input type="button" class="btn btn--icon" value="√" />
      <input type="button" class="btn btn--primary" value="subscribe" />
    </div>
  </div>
  <div class="nft-profile--footer"></div>
</div>
