.nft-price,
.nft-balance {
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  text-align: right;

  span {
    display: block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
    opacity: 45%;
  }

  i {
    font-weight: normal;
  }
}

.nft-audiotrack {
  position: absolute;
  bottom: 30px;
  right: 30px;
  z-index: 10;
  height: 50px;
  width: 62%;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.35);
  overflow: hidden;

  img {
    min-height: 500px;
    min-width: 374px;
    object-fit: cover;
    -webkit-filter: blur(15px); /* Safari 6.0 - 9.0 */
    filter: blur(15px);
    opacity: 75%;
  }
}

.btn {
  position: relative;
  height: 50px;
  padding: 7px 30px;
  margin: 5px;
  color: #232323;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 10px;
  outline: none;
  border: none;
  transition: 0.3s;

  &.btn--primary {
    color: #fff;
    background: linear-gradient(45deg, #e7007c, #bf0093);
    box-shadow: 0 4px 20px rgba(231, 0, 124, 0.35);

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 100;
      width: 100px;
      height: 50px;
      background: #000;
    }

    &:hover {
      cursor: pointer;
      transform: scale(0.99);
      box-shadow: 0 0px 0px rgba(231, 0, 124, 0.35);
    }
  }

  &.btn--secondary {
    color: #e7007c;
    background: none;
    border: 1px solid #e7007c;
  }

  &.btn--icon {
    padding: 7px 22px;
    color: #232323;
    background: #f4f4f4;
  }
}

p {
  font-size: 16px;
  font-family: Roboto;
  line-height: 21px;
  color: #757575;
}

.badge {
  padding: 4px 10px;
  text-transform: uppercase;
  font-family: Roboto;
  font-size: 12px;
  color: #232323;
  background: #fff;
  border-radius: 3px;
}

.horizontal-tabs {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  overflow-x: auto;
  @media (max-width: 1000px) {
    scrollbar-width: none;
    position: relative;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  a {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    height: 48px;
    padding: 0 0.25rem;
    font-weight: 500;
    font-size: x-large;
    color: inherit;
    border-bottom: 3px solid transparent;
    text-decoration: none;
    transition: 0.15s ease;
    &:hover,
    &:focus,
    &.active {
      color: var(--c-accent-primary);
      border-bottom-color: var(--c-accent-primary);
    }

    & + * {
      margin-left: 1rem;
    }
  }
}
